BackEnd/Business Logic/SIGECO-Norte.BusinessLogic/Web References/SAPSigecoWcf/SAPSIGECO_MANT0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSAPSIGECO_MANT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSAPSIGECO_MANT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SAPSIGECO_RES">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAPSIGECO_RES" nillable="true" type="tns:SAPSIGECO_RES" />
</xs:schema>